<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/head :: head"></th:block>
</head>

<body>

  <!-- Menú -->
  <div th:insert="fragments/general.html :: menu"></div>

  <!-- Sección principal -->
  <section class="form-seccion">
    <h2>Introduce los datos del nuevo usuario</h2>

    <form th:action="guardarUsuario" th:object="${nuevoUsuario}" method="post" enctype="multipart/form-data" class="formulario-editar">
      

			<label>Nombre</label>
     		<input type="text" th:field="*{nombre}" />
     		<span class="error-mensaje"th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" ></span>

    	    <label>Apellidos</label>
     	    <input type="text" th:field="*{apellidos}" />
     	    <span class="error-mensaje"th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}" ></span>

      		<label>Pass</label>
      		<input type="password" th:field="*{pass}" />
      		<span class="error-mensaje"th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}" ></span>
      		

      		<label>Email</label>
      		<input type="email" th:field="*{email}" />
      		<span class="error-mensaje"th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></span>

      		<label>Telefono</label>
      		<input type="text" th:field="*{telefono}" />
      		<span class="error-mensaje"th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}" ></span>
      

      <button type="submit" class="boton-guardar">Registrar usuario</button>
    </form>
  </section>

</body>
</html>
