<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  
  <div th:fragment="footer">
    <footer class="footer-moderno">
      
      <h3>SÍGUENOS EN</h3>
      
      <div class="redes-sociales">
        <a href="#" class="social-btn instagram" title="Instagram">
          <i class="fa-brands fa-instagram"></i>
        </a>
        
        <a href="#" class="social-btn tiktok" title="TikTok">
          <i class="fa-brands fa-tiktok"></i>
        </a>
        
        <a href="#" class="social-btn facebook" title="Facebook">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
      </div>

      <div class="copyright">
        <p>&copy; 2025 Starlit Travels. All rights reserved.</p>
      </div>

    </footer>
  </div>

</body>
</html>